<div class="container">

  <div class="jumbotron">

    <div class="row">
      <div class="col-4">
        <select [(ngModel)]="yyyy" class="custom-select">
          <option disabled="disabled" [ngValue]="undefined">西暦</option>
          <option *ngFor="let num of christian_era">{{num}}</option>
        </select>
      </div>

      <div class="col-4">
        <select [(ngModel)]="mm" class="custom-select">
          <option disabled="disabled" [ngValue]="undefined">月</option>
          <option *ngFor="let num of month">{{num}}</option>
        </select>
      </div>

      <div class="col-4">
        <select [(ngModel)]="dd" class="custom-select">
          <option disabled="disabled" [ngValue]="undefined">日</option>
          <option *ngFor="let num of days">{{num}}</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="show_star" class="jumbotron">
    <div style="text-align:center">
      {{show_star}}
    </div>
  </div>

  <div style="text-align:center">
    <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="getStar(yyyy, mm, dd)">星を調べる</button>
  </div>

</div>